.backgroundImages{
    width: 100%;
}
.componentsName{
    text-align: center;
}
.home{
    /* background-image: url(../images/home.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    display: grid;
    grid-template-columns: 70% 70%;
    padding-top: 75px;
    padding-left: 80px;
    
}
.homeImage{
    width: 90%;
    height: 100%;
    /* border: 95%; */
    border-radius: 99px;
    padding-left: 100px;
}
.homeContent{
    color: rgb(18, 18, 19);
    
}
.homeContent h5{
    color: rgb(134, 133, 132);
    text-transform: capitalize;
    text-align: start;
    width: 750px;
    line-height: 25px;
}